{% extends "base.html.twig" %}
{% block title %}About Crystal Studios{% endblock %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
        <!--
        {% block navbar_contents %}
            <div class="collapse navbar-collapse" id="defaultNavbar1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Groups<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Original Crystal Studio Services</li>
                            <li><a href="#ccs">Crystal Computer Studio</a></li>
                            <li><a href="#mqs">Minecraft QUARTZ Studio</a></li>
                            <li><a href="#cws">Crystal Web Service</a></li>
                            <li><a href="#coi">Crystal OI</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Partner Services</li>
                            <li><a href="#mvl">Minecraft Vast-Light</a></li>
                            <li><a href="#adc">Adament Commune</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">More</li>
                            <li><a href="#uni">Unions</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="..">Back</a></li>
                </ul>
            </div>
        {% endblock %}
        -->
    {% endblock %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">About Crystal Studios</h1>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">Crystal Studios is a united organization that help people's living & relaxing & researching. <br /><strong>Feel free to use our services :-)</strong> </div>
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-12">
      <div class="well"><strong> Original Crystal Services</strong></div>
    </div>
    <div class="text-justify col-sm-3"> <div id="ccs" class="text-center"><h4><strong>C</strong>rystal <strong>C</strong>omputer <strong>S</strong>tudio</h4></div> Crystal Computer Studio is the core of original Crystal studios, you can code here freely and you can also push your own code to GitHub without a license from the studio. Now we are work with C++ algorithms, welcome to join us. <br><div class="text-center"><button type="button" class="btn btn-info btn-sm" onClick="window.location='//shang.qq.com/wpa/qunwpa?idkey=49476185987009a82355f5654c20d0a047823c522dc8dd95e2ff91f57b06a357'">Join us (QQ Group)</button>&nbsp;<button type="button" class="btn btn-lg btn-xs btn-info" onClick="onclick1()"> Alternative link</button></div></div>
    <script type="text/javascript">function onclick1(){alert("QQ Group: 217163637");}</script>
    <div class="col-sm-3 text-justify"> <div id="mqs" class="text-center"><h4><strong>M</strong>inecraft <strong>Q</strong>UARTZ <strong>S</strong>tudio</h4></div> Minecraft QUARTZ Studio is the Minecraft service of original Crystal studios with partner Vast-Light Studio, you can play Minecraft or develop Minecraft extensions. We have a perfect tools package contains Installer and Launcher, welcome to join us. <br><div class="text-center"><button type="button" class="btn btn-info btn-sm" onClick="window.location='//shang.qq.com/wpa/qunwpa?idkey=a5a3552acd28d1aa9ee6f3712f66fda607169314a71fab1aa9e120bb59699070'">Play with us (QQ Group)</button>&nbsp;<button type="button" class="btn btn-lg btn-xs btn-info" onClick="onclick2()"> Alternative link</button>&nbsp;<button type="button" class="btn btn-lg btn-xs btn-info" onClick="window.location='https://github.com/CrystalStu/Minecraft-Tools-Package'"> GitHub repo</button></div></div>
    <script type="text/javascript">function onclick2(){alert("QQ Group: 296390523\nInstaller: http://vast-light.iask.in/down/vlc_installer.exe");}</script>
    <div class="col-sm-3 text-justify"> <div id="cws" class="text-center"><h4><strong>C</strong>rystal <strong>W</strong>eb <strong>S</strong>ervice</h4></div> CWS is the web service of original Crystal studios, you can do web development. CWS is related to Crystal Computer Studio, welcome to join us.</div>
      <div class="col-sm-3 text-justify"> <div id="coi" class="text-center"><h4><strong>C</strong>rystal <strong>O</strong>lympiad in <strong>I</strong>nformatics</h4></div> Crystal OI is a group for Oiers for National Olympiad in Informatics (China). Crystal OI is related to Crystal Computer Studio, welcome to join us. <br><div class="text-center"><button type="button" class="btn btn-info btn-sm" onClick="window.location='//shang.qq.com/wpa/qunwpa?idkey=b7ce0bdcf09a1bd4941956d672aab255a2ef6614df5ef7cfb564e874fe04ef1f'">Join us (QQ Group)</button></div></div>
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-12">
      <div class="well"><strong> Partner Services</strong></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center" id="mvl">
      <h4>Vast-Light Studio (Vast-Light World)</h4>
      <p>An unofficial Minecraft servers alliance with VLW and MQS, technologies by Vast-Light Studio / Crystal Computer Studio - TURX, game by Microsoft Studios - Mojang A.B. </p>
      <button type="button" class="btn btn-info btn-sm" onClick="window.location='http://vast-light.iask.in'">See more</button>
    </div>
    <div class="col-sm-6 text-center" id="adc">
      <h4>Adament Commune</h4>
      <p>A commune which researches animations (When They Cry) and physics.</p>
    </div>
  </div>
    <hr>
    <div class="row">
        <div class="text-center col-md-12">
            <div class="well"><strong> Unions</strong></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center" id="uni">
            <p>
                Crystal Studios Union<br>
                AC (Adament-Crystal) Union<br>
                SA Union<br>
            </p>
        </div>
    </div>
    {% block end %} {{ parent() }} {% endblock %}
</div>
{% endblock %}