{% extends "base.html.twig" %}
{% block title %}About Crystal Studios{% endblock %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
        <!--
        {% block navbar_contents %}
            <div class="collapse navbar-collapse" id="defaultNavbar1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Groups<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Own</li>
                            <li><a href="#ccs">Crystal Computer Studio</a></li>
                            <li><a href="#cws">Crystal Web Service</a></li>
                            <li><a href="#aitc">AMSJXNU IT Club</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Partners</li>
                            <li><a href="#mvl">Minecraft Vast-Light</a></li>
                            <li><a href="#adc">Adament Commune</a></li>
                            <li><a href="#bou">Boulkoo</a></li>
                        </ul>
                    </li>
                    <li><a href="/partners">Partners</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="..">Back</a></li>
                </ul>
            </div>
        {% endblock %}
        -->
    {% endblock %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">About Crystal Studios</h1>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">Crystal Studios is a united organization that help people's living & relaxing & researching. <br /><strong>Feel free to use our services :-)</strong> </div>
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-12">
      <div class="well"><strong> Own</strong></div>
    </div>
    <div class="text-justify col-sm-4"> <div id="ccs" class="text-center"><h4><strong>C</strong>rystal <strong>C</strong>omputer <strong>S</strong>tudio</h4></div> Crystal Computer Studio is the core of Crystal Studios. Why we built this community is to provide a place for youngsters, especially talented students, to discuss trending technologies, and to practice them via coding in person. <br><div class="text-center"><button type="button" class="btn btn-info btn-sm" onClick="window.location='//ccs.cstu.gq'">Official website</button></div></div>
    <div class="col-sm-4 text-justify"> <div id="cws" class="text-center"><h4><strong>C</strong>rystal <strong>W</strong>eb <strong>S</strong>ervice</h4></div> Crystal Web Service is the web service of Crystal Studios. This department maintains servers and websites for Crystal Studios. It is attached to Crystal Computer Studio.</div>
      <div class="col-sm-4 text-justify"> <div id="aitc" class="text-center"><h4><strong>A</strong>MSJXNU <strong>IT</strong> <strong>C</strong>lub</h4></div> There is a place where students in AMSJXNU can discuss and learn CS together.</div>
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-12">
      <div class="well"><strong> Partners</strong></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center" id="mvl">
        <h4><strong>V</strong>ast-<strong>L</strong>ight Studio (Vast-Light World)</h4>
      <p>An unofficial Minecraft servers alliance with VLW and CCS. Out-of-game experience is developed by Vast-Light Studio / Crystal Computer Studio - TURX. The game is copyright on Microsoft Studios - Mojang A.B. </p>
      <button type="button" class="btn btn-info btn-sm" onClick="window.location='https://vl.cstu.gq'">Official website</button>
    </div>
    <div class="col-sm-4 text-center" id="adc">
      <h4>Adament Commune</h4>
      <p>A commune which researches japanese animes and physics.</p>
    </div>
    <div class="col-sm-4 text-center" id="bou">
        <h4>Boulkoo</h4>
        <p>A student organization which is mainly focusing on IoT development.</p>
        <button type="button" class="btn btn-info btn-sm" onClick="window.location='https://www.boulkoo.com'">Official website</button>
    </div>
  </div>
    <hr>
    {% block end %} {{ parent() }} {% endblock %}
</div>
{% endblock %}