{% extends "base.html.twig" %}
{% block title %}Cooperation with Crystal Studios{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="css/cooperation.css" rel="stylesheet" />
    {% block javascripts %}
        {{ parent() }}
        <script src="js/typed.js"></script>
        <script src="js/cooperation.js"></script>
    {% endblock %}
{% endblock %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
        <!--
        {% block navbar_contents %}
            <div class="collapse navbar-collapse" id="defaultNavbar1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="..">Back</a></li>
                </ul>
            </div>
        {% endblock %}
        -->
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Cooperation with Crystal Studios</h1>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center col-md-12">
                <div class="well"><strong> Synopsis</strong></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">Crystal Studios is a united organization that help people's living & relaxing & researching. <br />
                <hr>
                We embrace open <div id="typed-strings" class="embrace"></div><span id="typed"></span>.
                <!--<div class="embrace embrace-a">We embrace open research.</div>
                <div class="embrace embrace-b">We embrace open source.</div>
                <div class="embrace embrace-c">We embrace open brain.</div>
                <div class="embrace embrace-d">We embrace open organization.</div>-->
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="text-center col-md-12">
                <div class="well"><strong> Contact Methods</strong> (To the master)</div>
            </div>
        </div>
        <div class="row text-center">
            Mail: <a href="mailto:turuixuan@outlook.com">turuixuan@outlook.com</a> <br>
            QQ: 2319313324 <br>
        </div>
        <hr>
        <div class="row">
            <div class="text-center col-md-12">
                <div class="well"><strong> Our Activities</strong></div>
            </div>
            <div class="text-justify col-sm-3"> <div id="ccs" class="text-center"><h4>Crystal Computer Studio</h4></div> Crystal Computer Studio is the core of original Crystal studios, you can code here freely and you can also push your own code to GitHub without a license from the studio. Now we are work with C++ algorithms. <br> <a href="https://github.com/CrystalStu">GitHub</a> &nbsp; <a href="https://git.cstu.gq/CCS">Private Git</a> </div>
            <div class="col-sm-3 text-justify"> <div id="mqs" class="text-center"><h4>Minecraft QUARTZ Studio</h4></div> Minecraft QUARTZ Studio is the Minecraft service of original Crystal studios with partner Vast-Light Studio, you can play Minecraft or develop Minecraft extensions. We have a perfect tools package contains Installer and Launcher. <br> <a href="https://github.com/CrystalStu/Minecraft-Tools-Package">Minecraft Tools Package</a> </div>
            <div class="col-sm-3 text-justify"> <div id="cws" class="text-center"><h4>Crystal Web Service</h4></div> CWS is the web service of original Crystal studios, you can do web development. CWS is related to Crystal Computer Studio.<br> <a><i>No public git project</i></a> </div>
            <div class="col-sm-3 text-justify"> <div id="coi" class="text-center"><h4>Crystal Olympiad in Informatics</h4></div> Crystal OI is a group for Oiers for National Olympiad in Informatics (China). Crystal OI is related to Crystal Computer Studio. <br> <a href="https://www.luogu.org/team/show?teamid=6257">Luogu Online Judge</a> <a><i>No public git project</i></a> </div>
        </div>
        <hr>
        <center>To get more information (like private repositories), please contact the master.</center>
        <hr>
        <div class="row">
            <div class="text-center col-md-12">
                <div class="well"><strong> Unions</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center" id="uni">
                <p>
                    Crystal Studios Union<br>
                    AC (Adament-Crystal) Union<br>
                    SA Union<br>
                </p>
            </div>
        </div>
        {% block end %} {{ parent() }} {% endblock %}
    </div>
{% endblock %}