<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}No Title{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap & jQuery -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
            <script src="/js/jquery-3.3.1.slim.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            <!-- Google APIs -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Mono" rel="stylesheet">
            <link href="https://fonts.googleapis.com/earlyaccess/notosansjp.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/earlyaccess/notosanssc.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">

            <!-- Custom -->
            <link href="css/general.css" rel="stylesheet">
            <script src="/js/js.cookie-2.2.0.min.js"></script>
            <script src="/js/general.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            <a class="navbar-brand" href="/"><strong>Crystal Studios</strong>&nbsp;&nbsp;<small>Creative & Open</small></a></div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        {% block navbar_contents %}{% endblock %}
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            {% endblock %}
        {% endblock %}
        <!--
        {% block end %}
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <p>Copyright &copy; 2014 - {{ "now" | date("Y") }}&nbsp; Crystal Web Service &middot; All Rights Reserved</p>
                </div>
            </div>
            <hr>
        {% endblock %}
        -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
