<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}No Title{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            <!-- Semantic UI -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
            <script
                    src="https://code.jquery.com/jquery-3.1.1.min.js"
                    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
            
            <!-- Google APIs -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Mono" rel="stylesheet">
            <link href="https://fonts.googleapis.com/earlyaccess/notosansjp.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/earlyaccess/notosanssc.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">

            <!-- Custom -->
            <link href="css/general.css" rel="stylesheet">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            <a class="navbar-brand" href="/">Crystal Studios</a></div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        {% block navbar_contents %}{% endblock %}
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            {% endblock %}
        {% endblock %}
        <!--
        {% block end %}
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <p>Copyright &copy; 2015 - {{ "now" | date("Y") }}&nbsp; Crystal Web Service &middot; All Rights Reserved</p>
                </div>
            </div>
            <hr>
        {% endblock %}
        -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
