{% extends "base.html.twig" %}
{% block title %}Crystal Studios{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="css/mainhtml.css" rel="stylesheet" />
{% endblock %}
{% block body %}
    {% block navbar %} {{ parent() }} {% endblock %}
<!--
<div style="float: right; height: 40px">
	<iframe id="frame_content" src="//user.cstu.gq/api/display.php" scrolling="no" frameborder="0" height="256"></iframe>
</div>
-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Crystal Studios</h1>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">Crystal Studios is a united organization that help people's living & relaxing & researching. <br /><strong>Feel free to use our services :-)</strong> </div>
  </div>
  <br>
  <div id="alertMain" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="alertClosing();"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Due to the schoolwork, some of the services were suspendnded.
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-12">
      <div class="well"><strong> Studios</strong></div>
    </div>
    <div class="col-sm-12">
    	<ul>
    		<li><a href="https://ccs.cstu.gq/"><img src="logo/compu.png" />&nbsp;Crystal Computer Studio</a></li>
			<li><a><img src="logo/quartz.png" />&nbsp;Minecraft QUARTZ Studio</a></li>
			<li><a><img src="logo/vast-light.png" />&nbsp;Minecraft Vast-Light Studio</a></li>
            <li><a><img src="logo/eel.png" /> English Extremely Learning</a></li>
    	</ul>
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="text-center col-md-12">
            <div class="well"><strong> Partners</strong></div>
        </div>
        <div class="col-sm-12">
            <ul>
                <li><a href="https://www.boulkoo.com/"><img src="https://www.boulkoo.com/favicon.ico" />&nbsp;BOULKOO</a></li>
                <li><a href="http://www.snang.cc/"><img src="https://avatars3.githubusercontent.com/u/32928937?s=200&v=4" />&nbsp;SNANQ Studio</a></li>
            </ul>
        </div>
    </div>
    <hr>
  <div class="row">
    <div class="text-center col-md-12">
      <div class="well"><strong> Applications</strong></div>
    </div>
  </div>
  <div class="row">
  	<div class="col-sm-12">
  		<ul>
            <li><a href="about"><img src="logo/about.png" />&nbsp;About</a></li>
            <li><a href="cooperation"><img src="logo/business.png" />&nbsp;Cooperation</a></li>
            <li><a href="https://git.cstu.gq"><img src="logo/dev.png" />&nbsp;Development on Git</a></li>
  			<!--
  			<li><a href="http://edu.cstu.gq/"><img src="http://lib.cstu.gq/logo/edu.png" />&nbsp;Education</a></li>
  			<li><a href="http://business.cstu.gq/"><img src="http://lib.cstu.gq/logo/business.png" />&nbsp;Business</a></li>
  			<li><a href="http://drive.cstu.gq/"><img src="http://lib.cstu.gq/logo/drive.png" />&nbsp;Drive</a></li>
  			<li><a href="http://dev.cstu.gq/"><img src="http://lib.cstu.gq/logo/dev.png" />&nbsp;Development</a></li>
  			<li><a href="your-voice"><img src="http://lib.cstu.gq/logo/your-voice.png" />&nbsp;Your Voice</a></li>
  			<li><a href="about"><img src="http://lib.cstu.gq/logo/about.png" />&nbsp;About</a></li>
  			<li><a href="http://live.cstu.gq/"><img src="http://lib.cstu.gq/logo/live.png" />&nbsp;Live Stream</a></li>
  			<li><a href="store"><img src="http://lib.cstu.gq/logo/store.png" />&nbsp;Store</a></li>
  			<li><a href="http://forum.cstu.gq/"><img src="http://lib.cstu.gq/logo/forum.png" />&nbsp;Forum</a></li>
  			<li><a href="http://server.cstu.gq/game"><img src="http://lib.cstu.gq/logo/game.png" />&nbsp;Game</a></li>
  			-->
  		</ul>
  	</div>
  </div>
  {% block end %} {{ parent() }} {% endblock %}
  {% block javascripts %}
      {{ parent() }}
      <script src="js/mainhtml.js"></script>
  {% endblock %}
</div>
{% endblock %}